.DS_store
ALL*
cmpe126project*
Wordle*
ZERO_CHECK*
.idea*
.vs*
.cmake*
CMakeCache*
CMakeFiles*
CMakeD*
Makefile
cmake_install.cmake
cmake-build-debug*
Debug*
Testing*
out*
x64*
bin*
INSTALL.vcxproj*

Dependencies*
extern*
extern/freetype/*
extern/glm/*
extern/glfw/*


